<template>
  <div id="wrapper">
    <Sidebar></Sidebar>


    <div id="content-wrapper" class="d-flex flex-column">
      <Navigation></Navigation>

      <div class="container-fluid">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Account list</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div id="dataTable_filter" class="dataTables_filter">
                    <label>Search:</label>
                    <input type="search" class="form-control form-control-sm searchBar" placeholder="" aria-controls="dataTable" v-model="search" placeholder="Account name...">
                  </div>
                </div>
              </div>

              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password <small>MD5 hashed</small></th>
                    <th>AccessLevel <small>500 = GM</small></th>
                    <th>Email</th>
                    <th>Banned <small>0 = banned</small></th>
                    <th>Premium <small>1 = active</small></th>
                    <th>Itemmall points</th>
                    <th>Utils</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(i, index) in filterAccounts">
                    <td>{{ i.id }}</td>
                    <td>{{ i.username }}</td>
                    <td>****************</td>
                    <td>{{ i.accesslevel }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.active }}</td>
                    <td>{{ i.premium }}</td>
                    <td>{{ i.itemmall_points }}</td>
                    <td>
                      <router-link :to="{ name: 'edit-accounts', params: { itemId: i.id }}"><font-awesome-icon icon="pencil-alt"/></router-link> &nbsp;
                      <font-awesome-icon icon="trash" @click="removeItem(i.id, index)"/>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Navigation from '@/components/Navigation.vue'
  import Sidebar from '@/components/Sidebar.vue'

  export default {
    name: 'accounts',

    components: {
      Navigation,
      Sidebar
    },

    data() {
      return {
        accounts: [],
        error: '',
        search: '',
      }
    },

    mounted() {
        const token = this.$store.state.token
        if(!token) {
          this.$router.push("/");
        }

      this.$http
        .get('/fetchAccounts', {headers: {Authorization: token}})
        .then(response => {
          this.accounts = response.data
        })
    },

    methods: {
      removeItem(id, index) {
        const token = this.$store.state.token

        this.$http
          .post('/removeAccount', {id}, {headers: {Authorization: token}})
          .then(response => {
            if(response.data.success) {
              this.$delete(this.accounts, index)
            } else {
              return
            }

            if(response.data.invalidToken) {
              this.$router.push('/');
            }
          })
      }
    },

    computed: {
      filterAccounts() {
        /* Temporary search, filters of this.accounts (i = item, returning the character name that includes the value we typed in this.search) */
        return this.accounts.filter(i => {
          return i.username.toLowerCase().includes(this.search.toLowerCase())
        })
      }
    }
  }
</script>

<style lang="scss">
  td a {
    color: $gray-600;
  }

  table.table {
    margin-top: 10px;
  }

  .dataTables_filter {
    padding: 10px 0;

    &:after {
      content: "";
      clear: both;
      display: table;
    }

    label {
      display: inline-block;
    }

    .searchBar {
      max-width: 250px;
      width: 100%;
      display: inline-block;
      margin-left: 10px;
    }
  }
</style>