<template>
  <div id="wrapper">
    <Sidebar></Sidebar>


    <div id="content-wrapper" class="d-flex flex-column">
      <Navigation></Navigation>

      <div class="container-fluid">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Character list</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div id="dataTable_filter" class="dataTables_filter">
                    <label>Search:</label>
                    <input type="search" class="form-control form-control-sm searchBar" placeholder="" aria-controls="dataTable" v-model="search" placeholder="Character name...">
                  </div>
                </div>
              </div>

              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Account</th>
                    <th>Character name</th>
                    <th>Level</th>
                    <th>Exp</th>
                    <th>Sex</th>
                    <th>Zuly</th>
                    <th>Hp</th>
                    <th>Mp</th>
                    <th>Str</th>
                    <th>Con</th>
                    <th>Dex</th>
                    <th>Int</th>
                    <th>Cha</th>
                    <th>Sen</th>
                    <th>Skill points</th>
                    <th>Stat points</th>
                    <th>Utils</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(i, index) in filterCharacters">
                    <td>{{ i.id }}</td>
                    <td>{{ i.account_name }}</td>
                    <td>{{ i.char_name }}</td>
                    <td>{{ i.level }}</td>
                    <td>{{ i.exp }}</td>
                    <td>{{ i.sex }}</td>
                    <td>{{ i.zuly }}</td>
                    <td>{{ i.curHp }}</td>
                    <td>{{ i.curMp }}</td>
                    <td>{{ i.str }}</td>
                    <td>{{ i.con }}</td>
                    <td>{{ i.dex }}</td>
                    <td>{{ i._int }}</td>
                    <td>{{ i.cha }}</td>
                    <td>{{ i.sen }}</td>
                    <td>{{ i.skillp }}</td>
                    <td>{{ i.statp }}</td>
                    <td>
                      <router-link :to="{ name: 'edit-char', params: { itemId: i.id }}"><font-awesome-icon icon="pencil-alt"/></router-link> &nbsp;
                      <font-awesome-icon icon="trash" @click="removeItem(i.id, index)"/>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Navigation from '@/components/Navigation.vue'
  import Sidebar from '@/components/Sidebar.vue'

  export default {
    name: 'characters',

    components: {
      Navigation,
      Sidebar
    },

    data() {
      return {
        chars: [],
        error: '',
        search: '',
      }
    },

    mounted() {
        const token = this.$store.state.token
        if(!token) {
          this.$router.push("/");
        }

      this.$http
        .get('/fetchChars', {headers: {Authorization: token}})
        .then(response => {
          this.chars = response.data
        })
    },

    methods: {
      removeItem(id, index) {
        const token = this.$store.state.token

        this.$http
          .post('/removeChar', {id}, {headers: {Authorization: token}})
          .then(response => {
            if(response.data.success) {
              this.$delete(this.chars, index)
            } else {
              return
            }

            if(response.data.invalidToken) {
              this.$router.push('/');
            }
          })
      }
    },

    computed: {
      filterCharacters() {
        /* Temporary search, filters of this.chars (i = item, returning the character name that includes the value we typed in this.search) */
        return this.chars.filter(i => {
          return i.char_name.toLowerCase().includes(this.search.toLowerCase())
        })
      }
    }
  }
</script>

<style lang="scss">
  td a {
    color: $gray-600;
  }

  table.table {
    margin-top: 10px;
  }

  .dataTables_filter {
    padding: 10px 0;

    &:after {
      content: "";
      clear: both;
      display: table;
    }

    label {
      display: inline-block;
    }

    .searchBar {
      max-width: 250px;
      width: 100%;
      display: inline-block;
      margin-left: 10px;
    }
  }
</style>