<template>
  <div id="wrapper">
    <Sidebar></Sidebar>


    <div id="content-wrapper" class="d-flex flex-column">
      <Navigation></Navigation>

      <div class="container-fluid">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Clans</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Clan name</th>
                    <th>Slogan</th>
                    <th>News</th>
                    <th>Grade</th>
                    <th>Clan points</th>
                    <th>Utils</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(i, index) in clans">
                    <td>{{ i.id }}</td>
                    <td><router-link :to="{ name: 'edit-clans', params: { itemId: i.id }}">{{ i.name }}</router-link></td>
                    <td>{{ i.slogan }}</td>
                    <td>{{ i.news }}</td>
                    <td>{{ i.grade }}</td>
                    <td>{{ i.cp }}</td>
                    <td>
                      <router-link :to="{ name: 'edit-clans', params: { itemId: i.id }}"><font-awesome-icon icon="pencil-alt"/></router-link> &nbsp;
                      <font-awesome-icon icon="trash" @click="removeItem(i.id, index)"/>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Navigation from '@/components/Navigation.vue'
  import Sidebar from '@/components/Sidebar.vue'

  export default {
    name: 'clans',

    components: {
      Navigation,
      Sidebar
    },

    data() {
      return {
        clans: [],
        error: '',
      }
    },

    mounted() {
        const token = this.$store.state.token
        if(!token) {
          this.$router.push("/");
        }

      this.$http
        .get('/fetchClans', {headers: {Authorization: token}})
        .then(response => {
          this.clans = response.data
        })
    },

    methods: {
      removeItem(id, index) {
        const token = this.$store.state.token

        this.$http
          .post('/removeClan', {id}, {headers: {Authorization: token}})
          .then(response => {
            if(response.data.success) {
              this.$delete(this.clans, index)
            } else {
              return
            }

            if(response.data.invalidToken) {
              this.$router.push('/');
            }
          })
      }
    }
  }
</script>

<style lang="scss">
  td a {
    color: $gray-600;
  }
</style>