<template>
  <div id="wrapper">
    <Sidebar></Sidebar>


    <div id="content-wrapper" class="d-flex flex-column">
      <Navigation></Navigation>

      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 mb-4" v-for="i in servers">
              <div class="card bg-secondary text-white shadow" :class="{'bg-danger' : i.isAlive === false, 'bg-success' : i.isAlive === true}">
                <div class="card-body">
                  {{ i.host }}
                  <div class="text-white-50 small">
                    <template v-if="i.isAlive === true">Alive</template>
                    <template v-else-if="i.isAlive === 'fetching'"><font-awesome-icon icon="spinner" spin /> &nbsp; fetching status&hellip;</template>
                    <template v-else>Dead</template>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6" v-for="i in news">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><router-link :to="{ name: 'edit', params: { itemId: i.id }}">{{ i.title }}</router-link></h6>
                <span>{{ i.author }} - {{ i.date }}</span>
              </div>
              <div class="card-body">
                {{ i.content }}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Navigation from '@/components/Navigation.vue'
  import Sidebar from '@/components/Sidebar.vue'

  export default {
    name: 'dashboard',

    components: {
      Navigation,
      Sidebar
    },

    data() {
      return {
        news: [],
        servers: [
          {
            host: 'playroseonline.eu',
            isAlive: 'fetching'
          },
          {
            host: 'Loginserver',
            isAlive: 'fetching'
          },
          {
            host: 'Charserver',
            isAlive: 'fetching'
          },
          {
            host: 'Worldserver',
            isAlive: 'fetching'
          },
        ]
      }
    },

    mounted() {
      const token = this.$store.state.token
      if(!token) {
        this.$router.push("/");
      }

      this.$http
        .get('/fetchNews', {headers: {Authorization: token}})
        .then(response => {
          this.news = response.data
        })

      this.$http
        .get('/dashboard-servers', {headers: {Authorization: token}})
        .then(response => {
          this.servers = response.data

          if(response.data.invalidToken) {
            this.$router.push('/');
          }
        })
    },
  }
</script>

