<template>
  <div id="wrapper">
    <Sidebar></Sidebar>


    <div id="content-wrapper" class="d-flex flex-column">
      <Navigation></Navigation>

      <div class="container-fluid">
        <div class="card shadow mb-4">
          <div class="card-header py-3" v-for="i in accounts">
            <h6 class="m-0 font-weight-bold text-primary">Editing account </h6><br>
            <div class="form-group" v-if="success">
              <span class="text-success">
                <font-awesome-icon icon="check" /> &nbsp;
                Account has been saved!
              </span>
            </div>
            <div class="row">
              <div class="form-group col-lg-6">
                <span>Username</span>
                <input type="text" class="form-control form-control-user" v-model="i.username">
              </div>
              <div class="form-group col-lg-6">
                <span>Password <small>Type in the desired password! No worries, we'll arrange the hashing!</small></span>
                <input type="password" class="form-control form-control-user" v-model="i.password">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-6">
                <span>Accesslevel <small>500 = GM</small></span>
                <input type="text" class="form-control form-control-user" v-model="i.accesslevel">
              </div>
              <div class="form-group col-lg-6">
                <span>Email</span>
                <input type="email" class="form-control form-control-user" v-model="i.email">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-3">
                <span>Banned</span>
                <select name="active" id="active" class="custom-select custom-select-sm form-control form-control-sm" v-model="i.active">
                  <option value="0">Yes</option>
                  <option value="1">No</option>
                </select>
              </div>
              <div class="form-group col-lg-3">
                <span>Premium</span>
                <select name="premium" id="premium" class="custom-select custom-select-sm form-control form-control-sm" v-model="i.premium">
                  <option value="0">Inactive</option>
                  <option value="1">Active</option>
                </select>
              </div>
              <div class="form-group col-lg-3">
                <span>Itemmall points</span>
                <input type="text" class="form-control form-control-user" v-model="i.itemmall_points">
              </div>
            </div>

            <div class="form-group">
              <a href="#" class="btn btn-success btn-icon-split" @click="saveAccount(i.id, i.username, i.password, i.accesslevel, i.email, i.active, i.premium, i.itemmall_points)">
                <span class="icon text-white-50">
                  <font-awesome-icon icon="check" />
                </span>
                <span class="text">Save</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Navigation from '@/components/Navigation.vue'
  import Sidebar from '@/components/Sidebar.vue'

  export default {
    name: 'edit-accounts',

    components: {
      Sidebar,
      Navigation
    },

    data() {
      return {
        accounts: {},
        success: false,
        emailRegex: /^[\w.%+-]+@[\w.-]+\.[\w]{2,6}$/,
        passwordAltered: false,
        errors: [],
      }
    },

    mounted() {
      const token = this.$store.state.token
      if(!token) {
        this.$router.push("/");
      }

      const charId = this.$route.params.itemId;

      this.$http
        .post('/fetch-edit-accounts', {'id': charId}, {headers: {Authorization: token}})
        .then(response => {
          this.accounts = response.data.fetchAccountData
          this.accounts[0].password = ''

          if(response.data.invalidToken) {
            console.log('Invalid token.. redirecting back to account Database')
            this.$router.push("/accounts");
          }
        })
    },

    methods: {
      saveAccount(id, username, password, accesslevel, email, active, premium, itemmall_points) {
        const token = this.$store.state.token

        this.errors = []

        if(username.length < 1) {
          this.errors.push('usernameLength')
        } if(accesslevel.length < 1) {
          this.errors.push('accessLength')
        } if(!email.match(this.emailRegex)) {
          this.errors.push('emailRegex')
        } if(email.length < 1) {
          this.errors.push('emailLength')
        } if(password.length > 1) {
          this.passwordAltered = true
        } else if(password.length < 1) {
          this.passwordAltered = false
        }

        if(!this.errors.length) {
          this.$http
            .post('/saveAccount', {id, username, password, accesslevel, email, active, premium, itemmall_points}, {headers: {Authorization: token, passwordAltered: this.passwordAltered}})
            .then(response => {
              if(response.data.success) {
                this.success = true
              }

              if(response.data.invalidToken) {
                this.$router.push('/');
              }
            })
        }
      }
    }
  }
</script>

<style lang="scss">

  .form-group {
    textarea {
      height: 250px;
    }

    .small {
      line-height: 2;
    }
  }
</style>