<template>
  <div id="wrapper">
    <Sidebar></Sidebar>


    <div id="content-wrapper" class="d-flex flex-column">
      <Navigation></Navigation>

      <div class="container-fluid">
        <div class="card shadow mb-4">
          <div class="card-header py-3" v-for="i in chars">
            <h6 class="m-0 font-weight-bold text-primary">Editing character </h6><br>
            <div class="form-group" v-if="success">
              <span class="text-success">
                <font-awesome-icon icon="check" /> &nbsp;
                Character has been saved!
              </span>
            </div>
            <div class="row">
              <div class="form-group col-lg-6">
                <span>Account Name</span>
                <input type="text" class="form-control form-control-user" v-model="i.account_name">
              </div>
              <div class="form-group col-lg-6">
                <span>Character Name</span>
                <input type="text" class="form-control form-control-user" v-model="i.char_name">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-3">
                <span>Level</span>
                <input type="text" class="form-control form-control-user" v-model="i.level">
              </div>
              <div class="form-group col-lg-3">
                <span>Experience</span>
                <input type="text" class="form-control form-control-user" v-model="i.exp">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-3">
                <span>Gender</span>
                <select name="genderType" id="genderType" class="custom-select custom-select-sm form-control form-control-sm" v-model="i.sex">
                  <option value="0">Female</option>
                  <option value="1">Male</option>
                </select>
              </div>
              <div class="form-group col-lg-3">
                <span>Zuly</span>
                <input type="text" class="form-control form-control-user" v-model="i.zuly">
              </div>
              <div class="form-group col-lg-3">
                <span>Skill Points</span>
                <input type="text" class="form-control form-control-user" v-model="i.skillp">
              </div>
              <div class="form-group col-lg-3">
                <span>Stat Points</span>
                <input type="text" class="form-control form-control-user" v-model="i.statp">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-3">
                <span>Hp</span>
                <input type="text" class="form-control form-control-user" v-model="i.curHp">
              </div>
              <div class="form-group col-lg-3">
                <span>Mp</span>
                <input type="text" class="form-control form-control-user" v-model="i.curMp">
              </div>
              <div class="form-group col-lg-3">
                <span>Strength</span>
                <input type="text" class="form-control form-control-user" v-model="i.str">
              </div>
              <div class="form-group col-lg-3">
                <span>Concetration</span>
                <input type="text" class="form-control form-control-user" v-model="i.con">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-lg-3">
                <span>Dexterity</span>
                <input type="text" class="form-control form-control-user" v-model="i.dex">
              </div>
              <div class="form-group col-lg-3">
                <span>Intelligence</span>
                <input type="text" class="form-control form-control-user" v-model="i._int">
              </div>
              <div class="form-group col-lg-3">
                <span>Charm</span>
                <input type="text" class="form-control form-control-user" v-model="i.cha">
              </div>
              <div class="form-group col-lg-3">
                <span>Sense</span>
                <input type="text" class="form-control form-control-user" v-model="i.sen">
              </div>
            </div>

            <div class="form-group">
              <a href="#" class="btn btn-success btn-icon-split" @click="saveChar(i.id, i.account_name, i.char_name, i.level, i.exp, i.sex, i.zuly, i.skillp, i.statp, i.curHp, i.curMp, i.str, i.con, i.dex, i._int, i.cha, i.sen)">
                <span class="icon text-white-50">
                  <font-awesome-icon icon="check" />
                </span>
                <span class="text">Save</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Navigation from '@/components/Navigation.vue'
  import Sidebar from '@/components/Sidebar.vue'

  export default {
    name: 'edit-char',

    components: {
      Sidebar,
      Navigation
    },

    data() {
      return {
        chars: {},
        success: false,
      }
    },

    mounted() {
      const token = this.$store.state.token
      if(!token) {
        this.$router.push("/");
      }

      const charId = this.$route.params.itemId;

      this.$http
        .post('/fetch-edit-chars', {'id': charId}, {headers: {Authorization: token}})
        .then(response => {
          this.chars = response.data.fetchCharData

          if(response.data.invalidToken) {
            console.log('Invalid token.. redirecting back to chars Database')
            this.$router.push("/chars");
          }
        })
    },

    methods: {
      saveChar(id, account, char, level, exp, sex, zuly, skillp, statp, hp, mp, str, con, dex, int, cha, sen) {
        const token = this.$store.state.token

        this.$http
          .post('/saveChar', {id, account, char, level, exp, sex, zuly, skillp, statp, hp, mp, str, con, dex, int, cha, sen}, {headers: {Authorization: token}})
          .then(response => {
            if(response.data.success) {
              this.success = true
            }

            if(response.data.invalidToken) {
              this.$router.push('/');
            }
          })
      }
    }
  }
</script>

<style lang="scss">

  .form-group {
    textarea {
      height: 250px;
    }

    .small {
      line-height: 2;
    }
  }
</style>