<template>
  <div id="wrapper">
    <Sidebar></Sidebar>


    <div id="content-wrapper" class="d-flex flex-column">
      <Navigation></Navigation>

      <div class="container-fluid">
        <div class="card shadow mb-4">
          <div class="card-header py-3" v-for="i in clans">
            <h6 class="m-0 font-weight-bold text-primary">Editing clan </h6><br>
            <div class="form-group" v-if="success">
              <span class="text-success">
                <font-awesome-icon icon="check" /> &nbsp;
                Clan has been updated!
              </span>
            </div>
            <div class="form-group">
              <span>Clan name</span>
              <input type="text" class="form-control form-control-user" v-model="i.name">
            </div>
            <div class="form-group">
              <span>Slogan</span>
              <input type="text" class="form-control form-control-user" v-model="i.slogan">
            </div>
            <div class="form-group">
              <span>News</span>
              <textarea type="text" class="form-control form-control-user" v-model="i.news"/>
            </div>
            <div class="form-group">
              <span>Grade</span>
              <input type="text" class="form-control form-control-user" v-model="i.grade">
            </div>
            <div class="form-group">
              <span>Clan points</span>
              <input type="text" class="form-control form-control-user" v-model="i.cp">
            </div>
            <div class="form-group">
              <a href="#" class="btn btn-success btn-icon-split" @click="saveNews(i.id, i.name, i.slogan, i.news, i.grade, i.cp)">
                <span class="icon text-white-50">
                  <font-awesome-icon icon="check" />
                </span>
                <span class="text">Save</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Navigation from '@/components/Navigation.vue'
  import Sidebar from '@/components/Sidebar.vue'

  export default {
    name: 'edit-clans',

    components: {
      Sidebar,
      Navigation
    },

    data() {
      return {
        clans: {},
        success: false,
      }
    },

    mounted() {
      const token = this.$store.state.token
      if(!token) {
        this.$router.push("/");
      }

      const clanId = this.$route.params.itemId;

      this.$http
        .post('/fetch-edit-clans', {'id': clanId}, {headers: {Authorization: token}})
        .then(response => {
          this.clans = response.data.fetchClanData

          if(response.data.invalidToken) {
            console.log('Invalid token.. redirecting back to clans Database')
            this.$router.push("/clans");
          }
        })
    },

    methods: {
      saveNews(id, name, slogan, news, grade, cp) {
        const token = this.$store.state.token

        this.$http
          .post('/saveClan', {id, name, slogan, news, grade, cp}, {headers: {Authorization: token}})
          .then(response => {
            if(response.data.success) {
              this.success = true
            }

            if(response.data.invalidToken) {
              this.$router.push('/');
            }
          })
      }
    }
  }
</script>

<style lang="scss">

  .form-group {
    textarea {
      height: 250px;
    }

    .small {
      line-height: 2;
    }
  }
</style>