<template>
  <div id="wrapper">
    <Sidebar></Sidebar>


    <div id="content-wrapper" class="d-flex flex-column">
      <Navigation></Navigation>

      <div class="container-fluid">
        <div class="card shadow mb-4">
          <div class="card-header py-3" v-if="!create" v-for="(i, index) in news">
            <h6 class="m-0 font-weight-bold text-primary">Edit</h6><br>
            <div class="form-group" v-if="success">
              <span class="text-success">
                <font-awesome-icon icon="check" /> &nbsp;
                Your news item has been updated!
              </span>
            </div>

            <div class="form-group" v-if="errors.length">
                <span class="text-danger" v-if="errors.includes('titleEmpty')">Title cannot be empty!<br></span>
                <span class="text-danger" v-if="errors.includes('contentEmpty')">Content cannot be empty! <br></span>
                <span class="text-danger" v-if="errors.includes('fileSize')">The image size cannot exceed 2MB <br></span>
                <span class="text-danger" v-if="errors.includes('fileType')">This filetype is not supported, please only upload .jpeg, .png or .gif <br></span>
            </div>

            <div class="form-group">
              <span>Title</span>
              <input type="text" class="form-control form-control-user" v-model="i.title">
            </div>
            <div class="form-group">
              <span>Content</span>
              <textarea type="text" class="form-control form-control-user" v-model="i.content"/>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <span>Select the type:</span>
                  <select name="newsType" id="newsType" class="custom-select custom-select-sm form-control form-control-sm" v-model="i.type">
                    <option value="news">News</option>
                    <option value="update">Update</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <span>News items will only become visible when it has been published</span>
                  <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="publish" :checked="i.published" v-model="i.published">
                    <label class="custom-control-label" for="publish">Publish?</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <span>Thumbnail</span>
                  <input type="file" ref="existingFile" @change="onFileChanged" name="existingImage" id="existingImage"  accept="image/*"  style="display: none;">
                  <div class="fileUpload" :class="{ 'border-danger': errors.includes('fileSize') || errors.includes('fileType')}">
                    <div class="inside_wrapper" @click="$refs.existingFile[index].click()">
                      <font-awesome-icon icon="image" />
                      <span>Browse and select image</span>

                      <small v-if="selectedFile">{{ selectedFile.name }}</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group" v-if="i.thumbnail && !imageUrl">
                  <span style="display: block">Preview</span>
                  <img :src="'/images/uploads/' + i.thumbnail" alt="">
                </div>

                <div class="form-group" v-if="imageUrl">
                  <span style="display: block">Preview</span>
                  <img :src="imageUrl" alt="">
                </div>
              </div>
            </div>

            <div class="form-group">
              <a href="#" class="btn btn-success btn-icon-split" @click="saveNews(i.id, i.title, i.content, i.type, image, i.published)">
                <span class="icon text-white-50">
                  <font-awesome-icon icon="check" />
                </span>
                <span class="text">Save</span>
              </a>
            </div>
          </div>

          <div class="card-header py-3" v-if="create">
            <h6 class="m-0 font-weight-bold text-primary">Create News Item</h6><br>
            <div class="form-group" v-if="success">
              <span class="text-success">
                <font-awesome-icon icon="check" /> &nbsp;
                Your news item has been created!
              </span>
            </div>

            <div class="form-group" v-if="errors.length">
                <span class="text-danger" v-if="errors.includes('titleEmpty')">Title cannot be empty!<br></span>
                <span class="text-danger" v-if="errors.includes('contentEmpty')">Content cannot be empty! <br></span>
                <span class="text-danger" v-if="errors.includes('fileSize')">The image size cannot exceed 2MB <br></span>
                <span class="text-danger" v-if="errors.includes('fileType')">This filetype is not supported, please only upload .jpeg, .png or .gif <br></span>
            </div>

            <div class="form-group">
              <span>Title</span>
              <input type="text" class="form-control form-control-user" v-model="news.title" :class="{ 'border-danger': errors.includes('titleEmpty')}">
            </div>
            <div class="form-group">
              <span>Content</span>
              <textarea type="text" class="form-control form-control-user" v-model="news.content" :class="{ 'border-danger': errors.includes('contentEmpty') }" />
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <span>Select the type:</span>
                  <select name="newsType" id="newsType" class="custom-select custom-select-sm form-control form-control-sm" v-model="news.type">
                    <option value="news" selected="selected">News</option>
                    <option value="update">Update</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <span>News items will only become visible when it has been published</span>
                  <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="publish" :checked="news.published" v-model="news.published">
                    <label class="custom-control-label" for="publish">Publish?</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <span>Thumbnail</span>
                  <input type="file" ref="file" @change="onFileChanged" name="image" id="image"  accept="image/*"  style="display: none;">
                  <div class="fileUpload" :class="{ 'border-danger': errors.includes('fileSize') || errors.includes('fileType')}">
                    <div class="inside_wrapper" @click="$refs.file.click()">
                      <font-awesome-icon icon="image" />
                      <span>Browse and select image</span>

                      <small v-if="selectedFile">{{ selectedFile.name }}</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group" v-if="imageUrl">
                  <span style="display: block">Preview</span>
                  <img :src="imageUrl" alt="">
                </div>
              </div>
            </div>

            <div class="form-group">
              <a href="#" class="btn btn-success btn-icon-split" @click="saveNews(news.id, news.title, news.content, news.type, image, news.published)">
                <span class="icon text-white-50">
                  <font-awesome-icon icon="check" />
                </span>
                <span class="text">Save</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Navigation from '@/components/Navigation.vue'
  import Sidebar from '@/components/Sidebar.vue'

  export default {
    name: 'edit',

    components: {
      Sidebar,
      Navigation
    },

    data() {
      return {
        news: {
          id: '0',
          title: '',
          content: '',
          type: 'news',
          published: 0,
        },
        success: false,
        create: false,
        selectedFile: null,
        image: null,
        imageUrl: null,
        errors: [],
      }
    },

    mounted() {
      const token = this.$store.state.token
      if(!token) {
        this.$router.push("/");
      }

      const newsId = this.$route.params.itemId;

      if(!newsId) {
        this.create = true
      } else {
        this.$http
          .post('/fetch-edit-news', {'id': newsId}, {headers: {Authorization: token}})
          .then(response => {
            this.news = response.data.fetchData

            if(response.data.invalidToken) {
              console.log('Invalid token.. redirecting back to News Database')
              this.$router.push("/news");
            }
          })
      }
    },

    methods: {

      checkImage() {
        const validImageTypes = ['image/gif', 'image/jpeg', 'image/png'];
        if(this.selectedFile.size > 2000000) /* 2MB */ {
          this.errors.push('fileSize')
        }
        if(!validImageTypes.includes(this.selectedFile.type)) {
          this.errors.push('fileType')
        }
      },

      onFileChanged(e) {
        this.image = null
        this.selectedFile = e.target.files[0]
        this.errors = []

        this.checkImage()

        if(!this.errors.length) {
          this.imageUrl = URL.createObjectURL(this.selectedFile)
        }
      },

      saveNews(id, title, content, type, thumbnail, published) {
        const token = this.$store.state.token
        this.errors = []

        if(title.length < 1) {
          this.errors.push('titleEmpty')
        }
        if(content.length < 1) {
          this.errors.push('contentEmpty')
        }

        this.checkImage();

        if(!this.errors.length) {
          let formData = new FormData();
          formData.append('image', this.selectedFile);

          this.$http
            .post('/upload-image', formData, {headers: {Authorization: token, 'Content-Type': 'multipart/form-data'}})
            .then(response => {
              this.image = response.data.imgPath

              if(!this.errors.length || this.image) {
                this.$http
                  .post('/saveNewsItem', {id, title, content, type, thumbnail: this.image, published}, {headers: {Authorization: token, create: this.create}})
                  .then(response => {
                    if(response.data.success) {
                      this.success = true
                    }

                    if(response.data.invalidToken) {
                      this.$router.push('/');
                    }
                  })
              }
            })
        }
      },
    }
  }
</script>

<style lang="scss">

  .form-group {
    textarea {
      height: 250px;
    }

    .small {
      line-height: 2;
      margin-top: 3px;
    }
  }

  .row {

    .fileUpload {
      width: 100%;
      height: 200px;
      border: 2px dashed $border-color;
      border-radius: 4px;
      text-align: center;
      position: relative;
      cursor: pointer;

      .inside_wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        .fa-image {
          font-size: 32px;
        }

        span {
          display: block;
        }

        small {
          display: block;
          color: $primary;
          margin: 10px 0;
        }
      }
    }

    span.success {
      color: $green;
      display: block;
    }

    img {
        max-width: 250px;
        width: 100%;
        height: 250px;
        margin: 0 0 20px 10px;
      }
  }

</style>