<template>
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Rose Online CMS</h1>
                  </div>
                  <form class="user" @submit.prevent="login">
                    <div class="form-group" v-if="error.length">
                      <span class="text-danger">This account does not exist or is not a GM</span>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-user" placeholder="Username" v-model="username">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" placeholder="Password" v-model="password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</template>

<script>
export default {
  name: 'login',

  data() {
    return {
      username: '',
      password: '',
      error: [],
    }
  },

  methods: {
    login: function() {
      const username = this.username
      const password = this.password

      this.error = [];

      if(!this.error.length) {
        this.$http
          .post('/login', {'username': username, 'password': password})
          .then(response => {
            if(response.data.error) {
              this.error.push('error')
            } else {
              const token = response.data.token;
              localStorage.setItem('token', token);
              this.$store.commit('SET_TOKEN', token)
              this.$router.push("/dashboard");
            }
          });
      }
    }
  },

  computed: {
    user() {
      return this.$store.state.token
    },
  },
}
</script>

<style lang="scss">
  .login {

    h1 {
      text-align: center;
    }

    form {
      width: 400px;
      margin: 0 auto;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      .row {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
    }
  }
</style>
