<template>
  <div id="wrapper">
    <Sidebar></Sidebar>


    <div id="content-wrapper" class="d-flex flex-column">
      <Navigation></Navigation>

      <div class="container-fluid">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">News items</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div id="dataTable_filter" class="dataTables_filter">
                    <label>Search:</label>
                    <input type="search" class="form-control form-control-sm searchBar" placeholder="" aria-controls="dataTable" v-model="search" placeholder="News title...">
                  </div>
                </div>

                <div class="row" v-if="errors.length">
                  <span class="text-danger" v-if="errors.includes('wentWrong')">We could not delete your news item, please refresh the page and try again</span>
                </div>

                <div class="col-sm-12 col-md-6">
                  <router-link :to="{ name: 'createNews' }" class="btn btn-primary btn-icon-split float-right">
                    <span class="icon text-white-50">
                      <font-awesome-icon icon="plus" />
                    </span>
                    <span class="text">Create news item</span>
                  </router-link>
                </div>
              </div>


              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Utils</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(i, index) in filterNews">
                    <td>{{ i.id }}</td>
                    <td><router-link :to="{ name: 'edit', params: { itemId: i.id }}">{{ i.title }}</router-link></td>
                    <td>{{ i.author }}</td>
                    <td>{{ i.date }}</td>
                    <td>{{ i.type }}</td>
                    <td>
                      <router-link :to="{ name: 'edit', params: { itemId: i.id }}"><font-awesome-icon icon="pencil-alt"/></router-link> &nbsp;
                      <font-awesome-icon icon="trash" @click="removeItem(i.id, index)"/>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Navigation from '@/components/Navigation.vue'
  import Sidebar from '@/components/Sidebar.vue'

  export default {
    name: 'news',

    components: {
      Navigation,
      Sidebar
    },

    data() {
      return {
        news: [],
        errors: [],
        search: '',
      }
    },

    mounted() {
        const token = this.$store.state.token
        if(!token) {
          this.$router.push("/");
        }

      this.$http
        .get('/fetchNews', {headers: {Authorization: token}})
        .then(response => {
          this.news = response.data
        })
    },

    methods: {
      removeItem(id, index) {
        const token = this.$store.state.token

        this.errors = []

        this.$http
          .post('/removeNewsItem', {id}, {headers: {Authorization: token}})
          .then(response => {
            if(response.data.success) {
              this.$delete(this.news, index)
            } else {
              this.errors.push('wentWrong')
            }

            if(response.data.invalidToken) {
              this.$router.push('/');
            }
          })
      }
    },

    computed: {
      filterNews() {
        /* Temporary search, filters of this.news (i = item, returning the news title that includes the value we typed in this.search) */
        return this.news.filter(i => {
          return i.title.toLowerCase().includes(this.search.toLowerCase())
        })
      }
    }
  }
</script>

<style lang="scss">
  td a {
    color: $gray-600;
  }

  table.table {
    margin-top: 10px;

    .fa-trash,
    .fa-pencil-alt {
      cursor: pointer;
    }
  }

  .dataTables_filter {
    padding: 10px 0;

    &:after {
      content: "";
      clear: both;
      display: table;
    }

    label {
      display: inline-block;
    }

    .searchBar {
      max-width: 250px;
      width: 100%;
      display: inline-block;
      margin-left: 10px;
    }
  }
</style>