<template>
    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
      <!-- Topbar Navbar -->
      <ul class="navbar-nav ml-auto">

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <font-awesome-icon icon="sign-out-alt" /> &nbsp;
            <span class="mr-2 d-none d-lg-inline text-gray-600 small" @click="logout">
            Logout
            </span>
          </a>
        </li>

      </ul>

    </nav>
    <!-- End of Topbar -->
</template>

<script>
  export default {
    name: 'navigation',


    methods: {
      logout() {
        localStorage.removeItem('token')
        this.$router.push('/');
      }
    },
  }
</script>