<template>
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <div class="sidebar-brand d-flex align-items-center justify-content-center">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <font-awesome-icon :icon="['fas', 'rocket']" /> &nbsp;
      <div class="sidebar-brand-text mx-3"> Rose CMS</div>
    </div>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Content Management
    </div>

    <!-- Nav Items -->
    <li class="nav-item">
        <router-link to="/dashboard" class="nav-link collapsed">
          <font-awesome-icon icon="tachometer-alt" /> &nbsp;
          <span>Dashboard</span>
        </router-link>
    </li>
    <li class="nav-item">
        <router-link to="/accounts" class="nav-link collapsed">
          <font-awesome-icon icon="user" /> &nbsp;
          <span>Accounts</span>
        </router-link>
    </li>
    <li class="nav-item">
      <router-link to="/characters" class="nav-link collapsed">
        <font-awesome-icon icon="user-astronaut" /> &nbsp;
        <span>Characters</span>
      </router-link>
    </li>
    <li class="nav-item">
      <router-link to="/clans" class="nav-link collapsed">
        <font-awesome-icon :icon="['fab', 'fort-awesome']" /> &nbsp;
        <span>Clans</span>
      </router-link>
    </li>
    <li class="nav-item">
      <router-link to="/news" class="nav-link collapsed">
        <font-awesome-icon icon="newspaper" /> &nbsp;
        <span>News items</span>
      </router-link>
    </li>
    <!-- End Nav Items -->

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
  </ul>
  <!-- End of Sidebar -->
</template>

<script>
  export default {
    name: 'sidebar',
  }
</script>